[package]
name = "Governance"
version = "0.1.0"
edition = "2024.beta"

[dependencies]
Sui = { git = "https://github.com/MystenLabs/sui.git", subdir = "crates/sui-framework/packages/sui-framework", rev = "mainnet-v1.32.2" }
AxelarGateway = { local = "../axelar_gateway" }
Abi = { local = "../abi" }
Utils = { local = "../utils" }
VersionControl = { local = "../version_control" }

[addresses]
governance = "0xa3"
