{
  "extends": ["richardpringle", "plugin:@typescript-eslint/recommended"],
  "env": {
    "es2020": true,
    "mocha": true
  },
  "rules": {
    "no-unused-expressions": "off",
    "@typescript-eslint/no-var-requires": "off",
  }
}
