name: Code Coverage
on: pull_request

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Dependencies for Sui Binary
        run: sudo apt-get update && sudo apt-get install -y libpq-dev

      - name: Download and Install Sui
        env:
          SUI_VERSION: devnet-v1.25.1
        run: |
          curl -L -o sui-${SUI_VERSION}-ubuntu-x86_64.tgz https://github.com/MystenLabs/sui/releases/download/${SUI_VERSION}/sui-${SUI_VERSION}-ubuntu-x86_64.tgz
          tar -xvf sui-${SUI_VERSION}-ubuntu-x86_64.tgz
          sudo mv ./sui-test-validator /usr/local/bin/sui-test-validator
          sudo mv ./sui /usr/local/bin/sui
          sudo mv ./sui-debug /usr/local/bin/sui-debug
          rm -rf sui-${SUI_VERSION}-ubuntu-x86_64.tgz

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Test
        run: npm run coverage

      - name: Display coverage report
        run: cat ./.coverage.info
