name: Publish to NPM

on:
  pull_request:
    branches:
      - main
    types:
      - closed

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  publish:
    name: Publish to NPM
    if: >
      github.event.pull_request.merged == true &&
      github.event.pull_request.user.login == 'github-actions[bot]'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Check for changeset files
        id: check-changeset-files
        run: |
          if ls .changeset/*.md | grep '\.changeset\/[a-z-]\+\.md$'; then
            echo "has_changeset_files=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_changeset_files=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Setup Sui CLI
        uses: ./.github/actions/install-sui-cli
        with:
          sui-version: $(jq -r '.SUI_VERSION' version.json)

      - name: Setup Node Dependencies
        uses: ./.github/actions/install-node-dependencies
        with:
          node-version: $(jq -r '.NODE_VERSION' version.json)

      - name: Create GitHub Release
        if: steps.check-changeset-files.outputs.has_changeset_files == 'false'
        uses: changesets/action@v1
        with:
          publish: npm run release
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
