name: Publish to NPM

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  SUI_VERSION: mainnet-v1.25.3

jobs:
  publish:
    name: Publish to NPM
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Check for changeset files
        id: check-changeset-files
        run: |
          if ls .changeset/*.md | grep '\.changeset\/[a-z-]\+\.md$'; then
            echo "has_changeset_files=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_changeset_files=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Setup Sui CLI and install dependencies
        uses: ./.github/actions/install
        with:
          SUI_VERSION: ${{ env.SUI_VERSION }}

      - name: Publish to NPM
        if: steps.check-changeset-files.outputs.has_changeset_files == 'false'
        uses: changesets/action@v1
        with:
          publish: npm run release
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
