name: Release

on:
  push:
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

env:
  SUI_VERSION: mainnet-v1.25.3

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Check for changeset files
        id: checkfile
        run: |
          if ls .changeset/*.md | grep '\.changeset\/[a-z-]\+\.md$'; then
            echo "has_file=true" >> "$GITHUB_OUTPUT"
          else
            echo "has_file=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Setup Sui CLI and install dependencies
        uses: ./.github/actions/install
        with:
          SUI_VERSION: ${{ env.SUI_VERSION }}

      - name: Create Release Pull Request
        if: steps.checkfile.outputs.has_file == 'true'
        uses: changesets/action@v1
        with:
          title: 'release: bump version and publish to npm'
          commit: 'chore: bump version and update changelog'
          publish: npm run release
          createGithubReleases: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
