name: Javascript Tests

on:
  pull_request:
  push:
    branches:
      - main
      - releases/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  SUI_VERSION: mainnet-v1.25.3

jobs:
  test-js:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Sui CLI and install dependencies
        uses: ./.github/actions/install
        with:
          SUI_VERSION: ${{ env.SUI_VERSION }}

      - name: Build
        run: npm run build

      - name: Run Localnet
        run: nohup sh -c "sui-test-validator" > nohup.out 2> nohup.err < /dev/null &

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

      - name: Test
        run: npm run test-js
